$muted-grey: #6c757d;
$bg-success-light: rgb(212, 237, 218);
$bg-danger-light: rgb(248, 198, 203);
$bg-navbar: rgba(0, 0, 0, 0.93);
$bg-content: #efefef;
$accent-color: #ff3b3f;


$bg-sidebar: rgb(25, 25, 25);
$bg-sidebar-border: rgba(0, 0, 0, 0.25);
$bg-sidebar-hover: rgba(255, 255, 255, 0.05);
$bg-sidebar-text: rgba(255, 255, 255, 0.93);


$cody-header-offset: 70px;
$cody-sidebar-offset: 300px;
$cody-duration-medium: 500ms;